:root {
  --cor-0: #1C1C1C; /* Preto suave para textos */
  --cor-1: #FFFFFF; /* Branco para fundos e textos claros */
  --cor-2: #F2F2F2; /* Cinza claro para fundos */
  --cor-3: #0A3D62; /* Azul escuro para títulos */
  --cor-4: #009432; /* Verde para elementos de destaque */
  --cor-5: #A6ACAF; /* Cinza médio para divisórias e detalhes */
}

/* Cores aplicadas */

.cor-0 {
  color: var(--cor-0);
}

.cor-1 {
  color: var(--cor-1);
}

.cor-2 {
  color: var(--cor-2);
}

.cor-3 {
  color: var(--cor-3);
}

.cor-4 {
  color: var(--cor-4);
}

.cor-5 {
  color: var(--cor-5);
}
