.texto-extra-grande {
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600; /* Peso ligeiramente mais leve para suavizar o impacto */
}

.texto-grande {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600; /* Peso intermediário para manter a hierarquia visual */
}

.texto-medio {
  font-size: 1.5rem;
  line-height: 1.3;
  font-family: "Inter", sans-serif;
  font-weight: 400; /* Peso regular para um visual limpo e agradável para leitura */
}

.texto-pequeno {
  font-size: 1rem;
  line-height: 1.4;
  font-family: "Inter", sans-serif;
  font-weight: 300; /* Peso mais leve para evitar excesso de contraste */
}







/* Consultas de mídia para telas menores */

@media (max-width: 1200px) {
  .texto-extra-grande {
    font-size: 4rem;
  }

  .texto-grande {
    font-size: 2.5rem;
  }

  .texto-medio {
    font-size: 1.25rem;
  }

  .texto-pequeno {
    font-size: 1rem;
  }

  .texto-pequeno-02,
  .texto-pequeno-bold {
    font-size: 0.75rem;
  }
}

@media (max-width: 900px) {
  .texto-extra-grande {
    font-size: 3rem;
  }

  .texto-grande {
    font-size: 2rem;
  }

  .texto-medio {
    font-size: 1rem;
  }

  .texto-pequeno {
    font-size: 0.875rem;
  }

  .texto-pequeno-02,
  .texto-pequeno-bold {
    font-size: 0.6875rem;
  }
}

@media (max-width: 600px) {
  .texto-extra-grande {
    font-size: 2rem;
  }

  .texto-grande {
    font-size: 1.5rem;
  }

  .texto-medio {
    font-size: 0.875rem;
  }

  .texto-pequeno {
    font-size: 0.75rem;
  }

  .texto-pequeno-02,
  .texto-pequeno-bold {
    font-size: 0.625rem;
  }
}
