body {
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* HEADER */
.container-header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 22px 200px;
}
.container-header h3 {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding-right: 20px;
}
.lista-header {
  display: flex;
  gap: 50px;
}

.lista-header a {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.container {
  padding: 10px 200px;
}

/* HOME */
.section-home {
  display: flex;
  height: 100vh;
  position: absolute;
  align-items: center;
}
.container-home {
  margin-top: 100px;
}
.container-home span {
  background-color: #005200;
  color: #ffffff;
  padding: 2px 15px;
  border-radius: 5px;
  margin-right: 5px;
}

.container-home p {
  font-size: 20px;
}

.container-home h1 {
  font-size: 80px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #03235e;
}

.container-home h2 {
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #03235e;
  line-height: 1;
}


.link-fale-comigo {
  padding: 16px 26px;
  border-radius: 5px;
  color: #ffffff;
  background: #005200;
  margin-right: 60px;
}
.contact-section {
  display: flex;
  align-items: center;
  margin-top: 45px;
}
.contact-section a {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

.contact-section img {
  background-color: #005200;
  padding: 10px;
  border-radius: 100%;
}

.contact-section p {
  color: #03235e;
}

.link-trabalhos {
  padding: 18px;
  color: #03235e;
}
/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}
